
/* shared style */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.secondry-bg{
    background-color: #7b47ff3a;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 
.btn-primary:hover{
    background-color: darkviolet;
}

.full-background{
    background-color: #4d47ff1a;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}
.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}
nav li{
    list-style: none;
}

/* Banner styles */
.banner-style{
    font-size: 65px;
    font-weight: bold;
}
.banner{
    max-width: 905px;
    text-align: center;
    gap: 37px 0;
    margin: 0 auto;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    text-align: top center;
    padding-bottom: 200px;
}

/* Action Styles */

.action{
    display: flex;
    justify-content: space-between;
    margin: 120px 0;
}
.action-content{
    max-width: 517px;
    gap: 23px 0;
    text-align: top left;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-subtitle{
    font-size: 24px;
    font-weight: 400;
    color: #2524329c;
}
.action-profile-pic{
    width: 403px;
    border-radius: 48px;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* Productive-user styles */

.productive-user{
    border-radius: 24px;
    text-align: center;
    padding: 50px 140px;
}
.centered-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 0;
}
.user-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0;
}
.item-subtitle{
    font-size: 20px;
    font-weight: 400px;
    color: #2524329c;
}